/*  Reset CSS */
* {
    /*  Margen = Externa */
    margin: 0;
    box-sizing: border-box;
    
}



body {
    /* Cor Fundo */
    background-color: #d4edf7;
    /* Cor Textos */
    color:rgb(175, 197, 206)
}
/*  seletor para os <A> */
a {
    /*  Propriedade e VALOR */
    text-decoration: none;
    color:rgb(255, 255, 255)
}





/* HEADER = Cabeçalho */
header {
    /* ROW Linha Horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7ab7da;
    /* Largura ou Comprimento */
    width: 100%;
}

/* UL sistema lista topicos */
.menu {
   list-style: none; 
   /* Lista Horizontal */
   display: flex;
   /* espaço entre TAGs*/
   gap: 1rem; /* um rem */
}
 /*  Tag Nav */
.menu-desktop {
    display: none;
}

/* logo */
.logo{
    width: 4rem;
}

/* Daqui pra cima Versão mobile */

/*  Responsivo */

/* Serve para as telas maiores */

@media (min-width: 768px) {
   header {
    /*  espaço inteiro */
    padding: 1rem 6rem;
    justify-content: ;
    gap: ;
   }
   /* Nav */
    .menu-desktop {
        display: flex;
    }
}